@charset "utf-8";

.jcker-nav {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.index_article {
    margin: 0 auto;
    background-color: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 10px 10px 0;
}

.index_article:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.index_article h2 {
    font-size: 30px;
}

.index_article p {
    font-size: 14px;
}

.index_body {
    border: 0;
    background-color: #f7f7f7;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}


a {
    text-decoration: none;
    color: #23527c;
}

a:active, a:focus, a:hover {
    text-decoration: none;
    color: #eb5055;
}

.page-content pre code {
    line-height: 20px;
    margin: 0;
    padding: 1.3em;
    color: #313131;
    background-color: #f7f7f7;
}

.page-content p {
    font-size: 14px;
}

.page-content h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}


input {
    border: 0;
    padding: 0;
}

input:focus, textarea:focus {
    outline: none;
}

textarea {
    height: 150px;
    width: 100%;
    outline: none;
    overflow: hidden;
    resize: none;
    border: 0;
    padding: 0 15px 0;
}

.social {
    text-align: center;
    font-size: small;
}

.jcker-footer-font {
    font-size: 13px;
    color: #5f5f5f;
}

.cm-header h1 {
    font-size: 21px;
}

.cm-header h2 {
    font-size: 19px;
}

.cm-header h3 {
    font-size: 17px;
}

.cm-header h4 {
    font-size: 15px;
}

.cm-header h5 {
    font-size: 13px;
}

.cm-header h1, h2, h3, h4, h5 {
    font-weight: 400;
}

/*导航*/
.BlogAnchor {
    background-color: #ffffff;
    padding: 0;
    line-height: 180%;
    position: fixed;
    right: 48px;
    top: 80px;
    border: 0;
}

.BlogAnchor p {
    font-size: 18px;
    color: #15a230;
    margin: 0 0 0.3rem 0;
    text-align: right;
}

.BlogAnchor .AnchorContent {
    padding: 5px 0px;
    overflow: auto;
}

.BlogAnchor li {
    text-indent: 0.5rem;
    font-size: 14px;
    list-style: none;
}

.BlogAnchor li .nav_item {
    padding: 3px;
}

.BlogAnchor li .item_h1 {
    margin-left: 0rem;
}

.BlogAnchor li .item_h2 {
    margin-left: 2rem;
    font-size: 0.8rem;
}

.BlogAnchor li .nav_item.current {
    color: white;
    background-color: #5cc26f;
}

#AnchorContentToggle {
    font-size: 13px;
    font-weight: normal;
    color: #FFF;
    display: inline-block;
    line-height: 20px;
    background: #5cc26f;
    font-style: normal;
    padding: 1px 8px;
}

.BlogAnchor a:hover {
    color: #5cc26f;
}

.BlogAnchor a {
    text-decoration: none;
}

/**
sidebar
 */
.sub01 {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;

}

.fixed {
    padding: 10px;
    background-color: #ffffff;
    top: 10px;
}

/*这是百科右侧导航代码的样式表*/
.directory-nav {
    position: fixed;
    top: 150px;
    padding: 12px 0 20px 32px;
    display: none;
}

.directory-nav li {
    height: 34px;
    line-height: 34px;
    position: relative;
    cursor: pointer;
}

.directory-nav li a {
}

.directory-nav .l1 {
}

.directory-nav .l2 {
    text-indent: 0.6em;
}

.directory-nav .l1 a {
    font-size: 16px;
}

.directory-nav .l2 a {
    font-size: 14px;
}

.directory-nav, .directory-nav a {
    color: #666;
}

.directory-nav .cur a {
    color: red;
}

.directory-nav .line {
    position: absolute;
    left: 4px;
    top: 5px;
    bottom: 5px;
    z-index: 1;
    width: 2px;
    background: #ddd;
}

.directory-nav .c-top, .directory-nav .c-bottom {
    position: absolute;
    left: 0;
    z-index: 2;
    display: block;
    width: 10px;
    height: 10px;
    font-size: 0;
    line-height: 0;
    background: url(../images/directory-nav.png) no-repeat 0 -69px;
}

.directory-nav .c-dot {
    position: absolute;
    left: -32px;
    top: 50%;
    z-index: 2;
    margin-top: -5px;
    display: block;
    width: 10px;
    height: 10px;
    font-size: 0;
    line-height: 0;
    background: url(../images/directory-nav.png) no-repeat -275px 0;
}

.directory-nav .c-top {
    top: 0
}

.directory-nav .c-bottom {
    bottom: 0
}

.directory-nav .cur-tag {
    position: absolute;
    left: -1px;
    top: 30px;
    z-index: 5;
    margin-top: -6px;
    display: block;
    width: 19px;
    height: 13px;
    font-size: 0;
    line-height: 0;
    background: url(../images/directory-nav.png) no-repeat -271px -37px;
    -webkit-transition: top .3s ease 0s;
    transition: top .3s ease 0s;
}